body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  padding: 40px;
}

.content h1 {
  padding: 40px 0;
  margin-bottom: 40px;
}

.sneakers {
  display: flex;
}

h5 {
  font-size: 14px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-block {
  display: flex;
  align-items: center;
}

.search {
  border: 1px solid #f3f3f3;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
}

.search-block input {
  width: 200px;
  border: 0;
  padding: 13px;
  font-size: 16px;
}
